---
const platform = "github";
const username = "AlanikREDAWN";
---

<footer>
    <p>Learn more about some of my other projects on <a href="{`https://www.${platform}.com/${username}`}">{platform}</a>!</p>
</footer>